@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap';


a {
  color: #3b82f6; 
}

a:hover {
  color: #2563eb; 
}

svg {
  overflow: hidden;
  position: absolute;
}
body  {
 background:#010815;
}



