@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap';

/* global.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212; 
}
ocus {
  outline: none;
}


a {
  color: #3b82f6; /* Tailwind blue color for links */
}

a:hover {
  color: #2563eb; /* Darker blue for link hover state */
}

svg {
  overflow: hidden;
  position: absolute;
}
